<!-- Header -->
<div class="text-center mb-3 mt-4">
  <h1 class="fw-bold">Healthcare Appointment Management System</h1>
</div>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/dashboard">HAM System</a>

    <!-- Toggle Button for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu Items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        
        <!-- Doctor Menu -->
        <ng-container *ngIf="role === 'DOCTOR'">
          <li class = "nav-item me-3">
            <a class="nav-link" routerLink="/doctor-appointment">Doctor Appointment</a>
          </li>
          <li class = "nav-item me-3">
          <a class="nav-link" routerLink="/doctor-availability">Doctor Availability</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "onLogout()">Logout</a>
          </li>
        </ng-container>

        <!-- Receptionist Menu -->
        <ng-container *ngIf="role === 'RECEPTIONIST'">
          <li class="nav-item me-3">
            <a class="nav-link" routerLink="/receptionist-appointments">All Appointments</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" routerLink="/receptionist-schedule-appointments">Schedule Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "onLogout()">Logout</a>
          </li>
        </ng-container>

        <!-- Patient Menu -->
        <ng-container *ngIf="role === 'PATIENT'">
          <li class="nav-item me-3">
            <a class="nav-link" routerLink="/patient-appointment">Patient Appointment</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" routerLink="/schedule-appointment">Schedule Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "onLogout()">Logout</a>
          </li>
        </ng-container>

      </ul>
    </div>
  </div>
</nav>